@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
html, body {
    overflow: auto;
    height: 100%;
}
.quote span {
    display: inline-block;
    white-space: nowrap; /* Prevent line breaks within individual spans */
  }